{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "prismjs", {
        "languages": [
          "javascript",
          "css",
          "markup",
          "markdown"
        ],
        "plugins": [
          "show-language"
        ]
      }
    ]
  ]
}