/*! purgecss start ignore */
@import 'prismjs.css';
@import 'tailwindcss/base';
@import 'layout.css';
@import 'tailwindcss/components';
@import 'ffoxobliq.css';
/*! purgecss end ignore */
@import 'tailwindcss/utilities';